services:
  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - inception

  wordpress:
    build: requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
      - redis
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - DOMAIN_NAME=${DOMAIN_NAME}
      - SITE_TITLE=${SITE_TITLE}
      - WP_ADMIN_USER=${WP_ADMIN_USER}
      - WP_ADMIN_PASSWORD=${WP_ADMIN_PASSWORD}
      - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
      - WP_USER=${WP_USER}
      - WP_USER_EMAIL=${WP_USER_EMAIL}
      - WP_USER_PASSWORD=${WP_USER_PASSWORD}
    volumes:
      - wp_data:/var/www/html  # <-- SHARED VOLUME
    networks:
      - inception

  nginx:
    build: requirements/nginx
    container_name: nginx
    ports:
      - "8080:8080"
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/html  # <-- Nginx reads static files from here
    networks:
      - inception

  redis:
    image: redis:bullseye
    container_name: redis
    networks:
      - inception

volumes:
  wp_data:
  db_data:

networks:
  inception:
    driver: bridge